$primary-color: #ffffff;

body {
    background-color: #282c34;
    color: $primary-color;
    min-height: 100vh;
}

#main-container {
    margin-top: 15px;
    padding-left: 280px;
    padding-top: 100px;
}

#loading {
    font-size: 24px;
}

#error {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: $primary-color;

    :hover {
        color: $primary-color
    }
}

#cardd {
    transition: all 0.15s ease;
}

#thrash {
    cursor: pointer;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 65px;
    width: 280px;
    height: calc(100vh - 65px);
    background-color: #37393d;
    color: white;
    border-right: 2px solid #6797ce;

    a {
        color: white;
    }

    .dropdown {
        ul {
            background-color: #b8bcc5;

            a {
                color: #000
            }
        }
    }
}

#cardd:hover {
    box-shadow: 1px 1px 5px white;
    transform: scale(1.0125);
}

#new-company {
    background-color: #6797ce;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    width: 100%;

    &:hover {
        background-color: #4a7eb0;
        cursor: pointer;
    }
}

#new-employee {
    background-color: #6797ce;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    width: 99%;
    color: #fff;

    &:hover {
        background-color: #4a7eb0;
        cursor: pointer;
    }


}

#app-body {
    #navbar {
        background-color: #6797ce;
        color: $primary-color;
        padding: 5px 30px 5px 30px;
    }

    #home-page {
        #text-area {
            margin-top: 70px;
            font-size: 26px;
            background: -webkit-linear-gradient(#eee, #4a90e2, #eee);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #lottie {
            margin-top: 70px;
        }
    }
}

#navbar {
    // border-radius: 0 0 10px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    button {
        background-color: #7eaadd;
        box-shadow: 2px 2px 2px #000;
        font-weight: 600;
    }
}